.web_camera{
    
    
} 

.web_camera_right{
    
    
    
}

img{
    width: 100%;
}

body{
    width: 100%;
    padding: 0;
    margin: 0;
}
table{
    width: 100%;
    height: 100%;
}
